[Desktop Entry]
Name=Rotate
Comment=Rotate the screen
Keywords=rotate;screen;
Exec=v8p-rotate.sh
Terminal=true
Type=Application
Icon=rotation-allowed-symbolic
StartupNotify=true
Categories=System;
